body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', cursive;
}
.full-width {
    text-align: right;
    padding-right: 5%;
}

.menu a {
    text-decoration: none;
    color: #363636;
    padding: 45px 30px;
    display: inline-block;
    text-transform: capitalize;
    font-weight: 500;
}
.half-width{
    width: 40%;
    margin-left: 4%;
    padding-left: 2%;
    float: left;
}
.half-width img{
    width: 100%;
}
img{width: 100%;}
.orange-color{color: #FF8367;}

h1 {
    font-size: 80px;
    font-weight: 500;
    color: #363958;
    line-height: 20px;
}
.about-section {
    height: 1397px;
}
.about-section p {
    line-height: 25px;
    color:#3E3E3E;
}

.button {
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(180deg, #FC5E51, #F59E75);
    padding: 15px 40px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 5px;
}
.about-section h3 {
    font-size: 48px;
    color: #363958;

}
.project-section {
    background-color: #F8F9FC;
    height: 500px;
    padding-top: 80px;
}
.one-third {
    width: 26%;
    margin-left: 4%;
    padding-left: 1%;
    float: left;
}
.single-project {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
}
.project-section a {
    text-decoration: none;
    color: #363958;
    font-size: 24px;
    font-weight: 600;
    line-height: 60px;
}
.project-section p {
    font-size: 16px;
    line-height: 24px;
    color: #6C6C6C;
}
.inquiry-area {
    padding: 70px 0 70px 0;
}

.contact {
    background-image: url(images/Group_33094_1.png);
    margin: 0 auto;
    height: 225px;
    width: 906px;
    background-size: cover;
}
.content {
    padding-left: 40px;
    padding-right: 40px;
}
.contact h2 {
    font-size: 68px;
    display: inline-block;
    padding-top: 15px;
    color: #fff;
}
.contact a {
    float: right;
    margin-top: 85px;
}
.find-me {
    text-align: center;
}

.social-icon img {
    height: 30px;
    width: 30px;
}

.social-icon a {
    margin-right: 30px;
}

.find-me h5 {
    color:  #696871;
    font-size: 26px;
}

.find-me a {
    color: #363958;
    text-decoration: none;
    font-size: 33px;
    font-weight: 700;
    line-height: 55px;
}
.testimonial h4,h5 {
    font-family: 'Roboto', sans-serif;
}

.testimonial h3 {
    font-size: 48px;
    color: #363958;
}

.testimonial {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0px 30px 0;
}

.testimonial h4 {
    font-size: 22px;
}

.testimonial h5 {
    font-size: 15px;
    font-weight: 400;
    color: #363636;
}